@import './theme';

.alert {
    padding: 10px;
    border-radius: 5px;
    font-weight: $bold;
}

$alert_colors: (
    info: $primary,
    success: $success,
    warning: $secondary,
    danger: $danger,
);

.alert-content {
    font-size: $regular-size;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

@each $key, $color in $alert_colors {
    .alert-dense-#{$key} {
        @extend .alert;
        color: $light;
        border: 1px solid #ffff;
        background-color: $color;
    }
}

@each $key, $color in $alert_colors {
    .alert-text-#{$key} {
        @extend .alert;
        border: 1px solid #ffff;

        @if $key == info {
            background-color: rgba(63, 81, 181, 0.35);
        } @else if $key == success {
            background-color: rgba(0, 132, 29, 0.35);
        } @else if $key == warning {
            background-color: rgba(115, 86, 0, 0.35);
        } @else if $key == danger {
            background-color: rgba(173, 50, 13, 0.35);
        }
    }
}

@each $key, $color in $alert_colors {
    .alert-outline-#{$key} {
        @extend .alert;
        border: 1px solid $color;
    }
}
 
.alert-content-outline{
    background-color: rgba(247, 248, 250, 1);
}

.alert-message {
    margin-left: 15px;
}

.alert-close {
    display: flex;
    margin-left: auto;
    cursor: pointer;
    transition: 0.3s;
}

.alert-close:hover {
    color: black;
}
