.avatar-container {
    width: fit-content;
    display: inline-block;
    .avatar {
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: 100%;
            height: 100%;
            border-radius: 100%;
        }

        div {
            padding: 8px;
            font-weight: $x-bold;
        }
    }
}

.badge {
    border-radius: 20px;
    display: inline-block;
    font-size: 0.65em;
    font-weight: $x-bold;

    .badge-child {
        padding: 3px 7px;
    }

    .badge-single {
        padding: 5px;
    }
}

.tooltip-container {
    position: relative;
    width: fit-content;

    .tooltip {
        position: absolute;
        border-radius: 5px;
        text-align: center;
        padding: 5px;
        font-size: 0.85rem;
        z-index: 10;
        transition: 1s;
    }

    .tooltip-top {
        bottom: 100%;
        margin-bottom: 10px;
    }
    .tooltip-left {
        right: 100%;
        margin-right: 10px;
        top: 0;
        min-width: fit-content;
    }
    .tooltip-right {
        left: 100%;
        top: 0;
        margin-left: 10px;
        min-width: fit-content;
    }
    .tooltip-bottom {
        top: 100%;
        margin-top: 10px;
    }
}

.dropdown-container {
    position: relative;
    width: fit-content;
    z-index: 12;

    .dropdown {
        position: absolute;
        text-align: center;
        padding: 5px;
        font-size: 0.85rem;
        z-index: 10;
        transition: 1s;
        // width: 100%;
        overflow: visible;
        padding: 5px;
        box-sizing: border-box;
        border-radius: 3px;
        box-shadow: 0 4px 4px 0 $gray;
    }

    .dropdown-top {
        bottom: 100%;
        margin-bottom: 5px;
    }
    .dropdown-left {
        right: 100%;
        margin-right: 10px;
        top: 0;
        min-width: fit-content;
    }
    .dropdown-right {
        left: 100%;
        top: 0;
        margin-left: 10px;
        min-width: fit-content;
    }
    .dropdown-bottom {
        top: 100%;
        margin-top: 5px;
    }

    .offset-left {
        left: 0;
    }

    .offset-right {
        right: 0;
    }

    .offset-top {
        right: 0;
    }

    .offset-bottom {
        right: 0;
    }
}
